<h1>Gestão de Tarefas</h1>
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#" (click)="setDisplayComponentAppUser()">Usuários</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="setDisplayComponentAppTask()">Tarefas</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>