<div class="row">
    <div class="form-group col-md-12">

    <h2 class="text-center">Tarefas</h2>

    <table class="table table-bordered">
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Prioridade</th>
            <th>Status</th>
            <th>Usuário</th>
        </tr>
        <tr *ngFor="let task of tasks">
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.user_id }}</td>
        </tr>
    </table>

    </div>
</div>